.DS_Store
.AppleDouble
.LSOverride
jsconfig.json
tsd.json
.eslintrc
npm-debug.log

# Because I am a code hoarder
personal/



# Folders
node_modules/
typings/


# compiled modules
bundle.js

# Vim 
.swo
.swp
