.DS_Store
.AppleDouble
.LSOverride
jsconfig.json
tsd.json
.eslintrc
datamodel.js


# Because I am a code hoarder
oldjunk.js



# Folders
node_modules/
typings/
semantic/

# compiled modules
bundle.js

