.DS_Store
.AppleDouble
.LSOverride
jsconfig.json
tsd.json
.eslintrc
nom-debug.log

# Folders
node_modules/
typings/
public/semantic/tasks
public/semantic/src
public/semantic/dist

# compiled modules
bundle.js
