extends layout

block content 
  if errorMsg !== undefined  
    h1(class='flash') #{errorMsg}: Please Try Again
  if loginMsg !== undefined
    h1(class='flash') #{loginMsg} #{strategy}!
  if script !== undefined
    script(src=script)
  #app
    script(src='/javascript/bundle.js')


